/* 
    General
*/

:root {
    --main-blue: #4945FF;
    --dark-blue: #212067;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}


/* 
    Webgl
*/

.webgl {
    position: fixed;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #E4E4FC, #B4B4F6);
    top: 80px;
}


/* 
    Button
*/

button {
    outline: none;
    border: none;
}

.button {
    position: absolute;
    top: calc(80% - 20px);
    left: calc(50% - 100px);
    width: 200px;
    border-radius: 12px;
    background: #7D34FF;
    color: #ffffff;
    padding: 12px;
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-left: 20px;
}

.button.activated {
    animation: bounce-in .3s forwards;
    animation-direction: reverse;
    animation-timing-function: ease-out;
}

.button:before {
    content: url(/static/images/next.svg);
    width: 14px;
    position: absolute;
    top: 14px;
    left: 83%;
    opacity: 0;
    transition: all 250ms ease-out;
}

.button:hover:before {
    left: 84%;
    opacity: 1;
}

.button:hover {
    animation: bounce-in .3s forwards;
    animation-timing-function: ease-out;
    cursor: pointer;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #7D34FF radial-gradient(circle, transparent 1%, #7D34FF 1%) center/15000%;
}

.ripple:active {
    background-color: #975BFF;
    background-size: 100%;
    transition: background 0s;
}

@keyframes bounce-in {
    0% {
        font-size: 13px;
        padding-left: 20px;
    }
    100% {
        transform: scale(1.1);
        font-size: 13px;
        padding-left: 16px;
    }
}


/* 
    Nav-bar
*/

.nav-bar {
    position: fixed;
    top: 20px;
    left: 40px;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
}

#logo-body {
    width: 40px;
    padding-right: 10px;
}

.logo-text {
    color: var(--dark-blue);
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.logo:hover #eye-left {
    background-color: #4945FF;
    animation: close-eye-left .1s forwards;
    animation-timing-function: ease-in;
}

.logo:hover #eye-right {
    background-color: #4945FF;
    animation: close-eye-right .1s forwards;
    animation-timing-function: ease-in;
}

.eye {
    position: absolute;
    background-color: var(--main-blue);
    border-radius: 50%;
    width: 4px;
    height: 8px;
}

#eye-left {
    top: 15px;
    left: 5px;
}

#eye-right {
    top: 16px;
    left: 12px;
}

@keyframes close-eye-left {
    0% {
        height: 8px;
    }
    100% {
        top: 16px;
        height: 5px;
        width: 12px;
        left: 1px;
        transform: rotate(6deg);
        background-color: rgba(0, 0, 0, 0);
        content: url(/static/images/cute-eye.svg);
    }
}

@keyframes close-eye-right {
    0% {
        height: 8px;
    }
    100% {
        top: 17px;
        height: 5px;
        width: 12px;
        left: 8px;
        transform: rotate(10deg);
        background-color: rgba(0, 0, 0, 0);
        content: url(/static/images/cute-eye.svg);
    }
}