* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webgl {
    position: fixed;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #E4E4FC, #B4B4F6);
}

button {
    outline: none;
    border: none;
}

.button {
    position: absolute;
    top: calc(80% - 20px);
    left: calc(50% - 100px);
    width: 200px;
    border-radius: 12px;
    background: #7D34FF;
    color: #ffffff;
    padding: 12px;
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-left: 20px;
}

.button.activated {
    animation: bounce-out .3s forwards;
    animation-timing-function: ease-out;
}

.button:before {
    content: url(/static/images/next.svg);
    width: 14px;
    position: absolute;
    top: 14px;
    left: 83%;
    opacity: 0;
    transition: all 250ms ease-out;
}

.button:hover:before {
    left: 84%;
    opacity: 1;
}

.button:hover {
    animation: bounce-in .3s forwards;
    animation-timing-function: ease-out;
    cursor: pointer;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #7D34FF radial-gradient(circle, transparent 1%, #7D34FF 1%) center/15000%;
}

.ripple:active {
    background-color: #975BFF;
    background-size: 100%;
    transition: background 0s;
}

@keyframes bounce-in {
    0% {
        font-size: 13px;
        padding-left: 20px;
    }
    100% {
        transform: scale(1.1);
        font-size: 13px;
        padding-left: 16px;
    }
}

@keyframes bounce-out {
    0% {
        transform: scale(1.1);
        font-size: 13px;
        padding-left: 16px;
    }
    100% {
        font-size: 14px;
    }
}