@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .line-x {
        @apply w-screen bg-grey-500 h-px
    }
    .line-y {
        @apply h-full bg-grey-500 w-px absolute
    }
}

@layer utilities {
    h1,
    h2,
    button,
    nav,
    img,
    p,
    form,
    #alert {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        opacity: 0;
        translate: translateY(100px);
    }
}