.linkUnderline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .15s ease-in-out;
}

.linkUnderlineBlack {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#3719CA, #3719CA)
}

.linkUnderline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

#logo:hover #eyeLeft {
    background-color: #3819CA;
    animation: close-eye-left .1s forwards;
    animation-timing-function: ease-in;
}

#logo:hover #eyeRight {
    background-color: #3819CA;
    animation: close-eye-right .1s forwards;
    animation-timing-function: ease-in;
}

.eye {
    position: absolute;
    background-color: #3819CA;
    border-radius: 50%;
    width: 4px;
    height: 8px;
}

#eyeLeft {
    top: 18px;
    left: 6px;
}

#eyeRight {
    top: 19px;
    left: 13px;
}

@media (max-width: 1280px) {
    #eyeLeft {
        top: 14px;
        left: 6px;
    }
    #eyeRight {
        top: 15px;
        left: 13px;
    }
}

@keyframes close-eye-left {
    0% {
        height: 8px;
    }
    100% {
        top: 19px;
        left: 2px;
        height: 5px;
        width: 12px;
        transform: rotate(6deg);
        background-color: rgba(0, 0, 0, 0);
        content: url(../public/svg/cute-eye.svg);
    }
}

@keyframes close-eye-right {
    0% {
        height: 8px;
    }
    100% {
        top: 20px;
        left: 9px;
        height: 5px;
        width: 12px;
        transform: rotate(10deg);
        background-color: rgba(0, 0, 0, 0);
        content: url(../public/svg/cute-eye.svg);
    }
}

@media (max-width: 1280px) {
    @keyframes close-eye-left {
        0% {
            height: 8px;
        }
        100% {
            top: 15px;
            left: 2px;
            height: 5px;
            width: 12px;
            transform: rotate(6deg);
            background-color: rgba(0, 0, 0, 0);
            content: url(../public/svg/cute-eye.svg);
        }
    }
    @keyframes close-eye-right {
        0% {
            height: 8px;
        }
        100% {
            top: 16px;
            left: 9px;
            height: 5px;
            width: 12px;
            transform: rotate(10deg);
            background-color: rgba(0, 0, 0, 0);
            content: url(../public/svg/cute-eye.svg);
        }
    }
}